<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx.xsd">
  <tx:advice id="txAdvice" transaction-manager="transactionManager">
    <tx:attributes>
      <tx:method name="get*" propagation="REQUIRED" read-only="true"
				timeout="20" rollback-for="RollbackException" />
			<tx:method name="exe*" propagation="REQUIRED" read-only="false"
				 rollback-for="RollbackException" />
			<tx:method name="sav*" read-only="false" propagation="REQUIRED"
				rollback-for="RollbackException" />
			<tx:method name="add*" read-only="false" propagation="REQUIRED"
				rollback-for="RollbackException" />
			<tx:method name="do*" read-only="false" propagation="REQUIRED"
				rollback-for="RollbackException" />
			<tx:method name="set*" read-only="false" propagation="REQUIRED"
				rollback-for="RollbackException" />
			<tx:method name="send*" read-only="false" propagation="REQUIRED"
				rollback-for="RollbackException" />
			<tx:method name="reset*" read-only="false" propagation="REQUIRED"
				rollback-for="RollbackException" />
			<tx:method name="insert*" read-only="false" propagation="REQUIRED"
				rollback-for="RollbackException" />
			<tx:method name="mod*" read-only="false" propagation="REQUIRED"
				rollback-for="RollbackException" />
			<tx:method name="process*" read-only="false" propagation="REQUIRED"
				rollback-for="RollbackException" />
			<tx:method name="updat*" read-only="false" propagation="REQUIRED"
				rollback-for="RollbackException" />
			<tx:method name="del*" read-only="false" propagation="REQUIRED"
				rollback-for="RollbackException" />
    </tx:attributes>
  </tx:advice>
</beans>